<!DOCTYPE html>
<html lang="en">
<head>

    <title>BASE</title>
</head>
<body>
    <header>
        <h1> Familiares</h1>
    </header>
    <div class="nav-bg">
        <nav class="navegacion-principal contenedor">
            <a href='{% url "base" %}'>Incio</a>
            <a href='{% url "addFamiliar" %}'>Agregar Familiares</a>
            <a href='{% url "viewFamiliar" %}'>Ver Familiares</a>
            
        </nav>
    </div>
    
{% block contenido %}


{% endblock contenido %}


</body>
</html>